# Gradle
.gradle/
build/
.cxx/
.externalNativeBuild/

# Local configuration
local.properties

# OS files
.DS_Store

# Android Studio / IntelliJ
*.iml
.idea/caches/
.idea/libraries/
.idea/workspace.xml
.idea/tasks.xml
.idea/compiler.xml
.idea/jarRepositories.xml
.idea/markdown.xml
.idea/.name
.idea/runConfigurations/
.idea/deploymentTargetDropDown.xml

# Android artifacts
captures/
out/
